@using Domain
<div class="boxed-letter no-select @HintClass @(Letter.Length > 1 ? "wide": "")" @onclick="@LetterPressed">
    @if (Letter is not null)
    {
        @Letter
    }
</div>


@code {
    [Parameter]
    public string Letter { get; set; }

    [Parameter]
    public LetterHint LetterHint { get; set; }

    [Parameter]
    public EventCallback<string> OnLetterClicked { get; set; }

    private string HintClass => LetterHint is null ? "absent-letter"
        : LetterHint.HintType == LetterHintType.Correct ? "correct-letter"
        : LetterHint.HintType == LetterHintType.Present ? "present-letter"
        : LetterHint.HintType == LetterHintType.Absent ? "empty-letter"
        : "absent-letter";

    public async Task LetterPressed()
    {
        await OnLetterClicked.InvokeAsync(Letter);
    }
}
