@page "/"
@using Domain
@rendermode InteractiveServer

<PageTitle>WordLab</PageTitle>

<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
    <div class="mt-4">
        @for (int i = 0; i < Settings.MaxGuesses; i++)
        {
            <div class="guess-row">
                @for (int j = 0; j < Settings.WordLength; j++)
                {
                    if (Guesses[i][j] is not null)
                    {
                        <BoxedLetter LetterHint="Guesses[i][j]" />
                    }
                }
            </div>
        }
    </div>

    <div style="margin-top: auto; margin-bottom: 50px;">
        <KeyboardHints AllHints="@AllHints" OnLetterClicked="@OnGlobalKey" />
    </div>
</FluentStack>
