@inject NavigationManager NavManager

<div class="nav-bar">

    <div class="nav-spacer"></div>

    <img src="/img/wordlab_logo-transparent.png"
         class="nav-logo"
         @onclick="@(() => NavManager.NavigateTo("/"))" />

    <button class="settings-btn">
        <span class="bi bi-gear-fill"></span>
    </button>

</div>
