@inject NavigationManager NavManager

<div class="nav-bar">

    <div class="nav-spacer"></div>

    <img src="/img/wordlab_logo-transparent.png"
         class="nav-logo"
         style="padding-left: 50px"
         @onclick="@(() => NavManager.NavigateTo("/"))" />

    <div>
        <button class="statistics-btn" @onclick="OpenStatisticsDialog">
            <span class="bi bi-bar-chart-fill"></span>
        </button>
        <button class="settings-btn" @onclick="@OpenSettingsDialog">
            <span class="bi bi-gear-fill"></span>
        </button>
    </div>
</div>

